.chuva{
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#of{
  opacity: 0;
}
.chuva #show{
  opacity: 1;
}
.chuva .gotas{
  position: absolute;
  background: rgba(255,255,255,.03) -webkit-radial-gradient(center 75%, ellipse contain, #ffffff, rgba(255,255,255,0) 60%);
  box-shadow: inset 0 0px 6px rgba(0,0,0,.5), inset 0 -1px 6px rgba(0,0,0,.4),  inset 0 8px 3px rgba(0,0,0,.3), inset 0 10px 3px rgba(255,255,255,.1), 0 3px 6px rgba(0,0,0,.5);
  border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;  
  animation: gotas1 3s linear infinite;
  animation-duration: calc(10s/var(--i));
}
.chuva #gotas2{
  animation: gotas2 3s linear infinite;
  animation-duration: calc(10s/var(--i));
}
.chuva #gotas3{
  animation: gotas3 3s linear infinite;
  animation-duration: calc(10s/var(--i));
}
.chuva #gotas4{
  animation: gotas4 3s linear infinite;
  animation-duration: calc(10s/var(--i));
}
@keyframes gotas1 {
  0%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
  99%{
    transform: translateX(-30px) translateY(100px) scale(0.1);
  }
  100%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
@keyframes gotas2 {
  0%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
  99%{
    transform: translateX(-30px) translateY(-100px) scale(0.1);
  }
  100%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
@keyframes gotas3 {
  0%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
  99%{
    transform: translateX(30px) translateY(100px) scale(0.1);
  }
  100%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
}
@keyframes gotas4 {
  0%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
  99%{
    transform: translateX(100px) translateY(-100px) scale(0.1);
  }
  100%{
    transform: translateX(0px) translateY(0px) scale(1);
  }
}