.inicial{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 600px;
    background-image:url("../../banner.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.apresentation{
    padding-left: 90px;
    padding-right: 20px;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.apresentation .off{
    display: none;
}
.apresentation .titulo{
    height: 70px;
    overflow: hidden;
    transition: all ease 0.2s;
    animation: typing 5s steps(60) forwards;
}
.apresentation .titulo span{
    font-size: 50px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.apresentation p{
    font-weight: 600;
    color: rgb(177, 177, 177);
}
.apresentation h2{
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    width: 200px;
    border: 1px solid rgb(252, 157, 223);
    background: linear-gradient(to right, rgb(56, 6, 41), rgb(109, 3, 77));
}
.image{
    animation: flutuar 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    transition: all ease 0.2s;
}
.image img{
    width: 65%;
}
@keyframes typing {
    from {
        border-right:3px solid blue;
      width: 0;
    }
    to {
      width: 100%;
    }
}
@keyframes flutuar{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}
@media screen and (max-width:700px){
    .inicial{
        height: 900px;
        padding-top: 311px;
        padding-bottom: 135px;
        flex-direction: column;
    }
    .apresentation .titulo{
        height: 70px;
    }
    .apresentation {
        padding-left: 90px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
        color: white;
        width: 100%;
    }
    .image img {
        width: 100%;
    }
      .image{
        width: 85%;
      }
    
}
