.navegador{
    z-index: 12;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: transparent;
}
.navegador.black{
    background: linear-gradient(to top right, rgb(0, 0, 0) 30%, rgb(1, 0, 20)70%);
}
.ajuste{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.logo{
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h2{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.options{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 25%;
}
.options h4{
    margin: 10px;
}
.options h4:hover{
    cursor: pointer;
}
.social_media{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
}
.social_media a{
    padding: 5px;
    border-radius: 50%;
    border:1px solid white;
}
.social_media a:hover{
    cursor: pointer;
}
.call{
    display: flex;
    justify-content: flex-end;
    width: 15%;
}
.call button{
    margin: 5px;
    width: 100px;
    height: 50px;
    color: black;
    background: white;
}
@media screen and (max-width:700px){
    .navegador.black{
        background: transparent;
    }
    .navegador{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: auto;
    }    
    .options{
        height: 40px;
        width: auto;
    }
    .social_media{
        width: auto;
    }
    .social_media div{
        margin: 10px;
    }
    .call {
        width: auto;
    }
}
